.msg_x {
	display: none;
}

.me_block {
	float: right;
	margin-left: 50%;
	margin-right: 2%;
	position: relative;
}

.me_block:hover .msg_x {
	display: inline-block;
	top: 40%;
	position: absolute;
	width: 1rem;
}

.me_block:hover .msg_x:hover {
	cursor: pointer;
}

.me {
	font-family: Microsoft JhengHei;
	display: block;
	float: right;
	word-break: break-word;
	white-space: pre-line;
	box-sizing: border-box;
	padding: 0.5rem 1rem;
	/* margin-left: 50%; */
	margin-left: 1.5rem;
	/* margin-right: 2%; */
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	border-radius: 1.125rem 1.125rem 0 1.125rem;
	/*background: $text-1;*/
	background: #3e92cc;
	color: white;
	min-height: 0rem;
	width: fit-content;
	text-align: left;
}
